html {
	padding: 25px;
}

.demo {
	height: 1000px;
}

.spacer {
	min-height: 800px;
}

.trigger {
	min-height: 1px;
}

.mainScene {
	overflow: hidden;
}

.device {
	z-index: 1;
}

.phone {
	padding-top: 500px;
}

.mouthpiece {
	max-width: 30px;
	top: -446px;
	position: relative;
	opacity: 0;
	left: 500px;
	z-index: -1;

}

