html {
	padding: 25px;
}

.demo {
	height: 2000px;
}

.spacer {
	min-height: 800px;
}

.trigger {
	min-height: 1px;
}

.mouthpiece {
	max-width: 30px;
	position: relative;
	left: 300px;
	bottom: 55px;
}

.phone {
	padding-top: 500px;
}